@font-face {
    font-family:"pfdintextcondpro" ;
    src: url('../fonts/pfdintextcondpro-light.eot');
    src: url('../fonts/pfdintextcondpro-light.woff') format('woff'), url('../fonts/pfdintextcondpro-light.ttf') format('truetype'), url('../fonts/pfdintextcondpro-light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family:"pfdintextcondpro" ;
    src: url('../fonts/pfdintextcondpro-regular.eot');
    src: url('../fonts/pfdintextcondpro-regular.woff') format('woff'), url('../fonts/pfdintextcondpro-regular.ttf') format('truetype'), url('../fonts/pfdintextcondpro-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:"pfdintextcondpro" ;
    src: url('../fonts/pfdintextcondpro-medium.eot');
    src: url('../fonts/pfdintextcondpro-medium.woff') format('woff'), url('../fonts/pfdintextcondpro-medium.ttf') format('truetype'), url('../fonts/pfdintextcondpro-medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family:"pfdintextcondpro" ;
    src: url('../fonts/pfdintextcondpro-lightital.eot');
    src: url('../fonts/pfdintextcondpro-lightital.woff') format('woff'), url('../fonts/pfdintextcondpro-lightital.ttf') format('truetype'), url('../fonts/pfdintextcondpro-lightital.svg') format('svg');
    font-weight: 300;
    font-style: italic;
}
