/*Drop base style*/

html,body,div,span, applet,object,iframe,h1,h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}
/* always display scrollbars */

body {
    font-size: 62.5%;
    line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol,ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
strong {
    font-weight: bold;
}
input {
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0;
    max-width: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*    base style or our site     */

body {
    color: #000;
    font-family: 'pfdintextcondpro', sans-serif;
    line-height: normal;
    font-size: 16px;
    font-style: normal;
}
html,
body {
    height: 100%;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
a:hover,
a:active,
a:focus {
    text-decoration: none;
}
*:focus {
    outline: none;
}
img {
    max-width: 100%;
    outline: none;
}
.text-center {
    text-align: center;
}
.container {
    width: 100%;
}
::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #2b2a28;
    font-size: 20px;
    line-height: 20px;
}
::-moz-placeholder {
    text-transform: uppercase;
    color: #2b2a28;
    font-size: 20px;
    line-height: 20px;
}
/* Firefox 19+ */

:-moz-placeholder {
    text-transform: uppercase;
    color: #2b2a28;
    font-size: 20px;
    line-height: 20px;
}
/* Firefox 18- */

:-ms-input-placeholder {
    text-transform: uppercase;
    color: #2b2a28;
    font-size: 20px;
    line-height: 20px;
}

/*    header    */

.header-top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 40px;
}

.header-addres p {
    font-size: 19px;
}

.header-phone a {
    display: block;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.header-phone a:hover {
    text-decoration: underline;
}

.orang-btn {
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    background-color: #ff8400;
    transition: background-color .3s;
    line-height: 30px;
    padding: 5px 15px;
    font-weight: 300;
    border: none;
    cursor: pointer;
}

.orang-btn:hover {
    background-color: #ff4e00;
}

#mobileMenu {
    display: none;
}

.header-nav {
    background-color: #ff8400;
    min-height: 50px;
}

.header-nav ul {
    list-style: none;
    padding-left: 0;
}

.header-nav li a:hover {
    text-decoration: underline;
}

/*    slider    */

.main-carusel {
    position: relative;
    perspective: 1000px;
}

.main-carusel_carusel .item-inner {
    position: relative;
    height: calc(100vw / 5 * 1.55);
    border: none;
    transform-style: preserve-3d;
    margin-right: -38%;
}

.main-carusel_carusel .normalization {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.7s ease-out;
    transform-style: preserve-3d;
}
.main-carusel_carusel .normalization.hover {
    transform: rotatex(180deg);
}
.main-carusel_carusel .normalization>img {
    /*    width: 100%;*/
    backface-visibility: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.main-carusel_carusel .normalization>img:nth-child(2n-1) {
    z-index: 1;
}
.main-carusel_carusel .normalization>img:nth-child(2n) {
    transform: rotatex(180deg);
}
.main-carusel_form {
    width: 80%;
    margin-left: 5%;
    transform: skewX(-16.2deg);
    z-index: 10;
    padding: 15px 40px;
    background-color: rgba(255, 255, 255, 0.7);
}
.main-carusel .main-carusel_tyTop {
    margin-top: -190px;
}
.main-carusel_form form {
    transform: skewX(16.2deg);
}
.main-carusel_form p {
    color: #2b2a28;
    font-size:15px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.discrip {
    position: relative;
    z-index: 5;
    text-align: right;
    margin-right: 100px;
    text-align: right;
    display: block;
    color: #fff;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 300;
}
.discrip span {
    text-decoration: underline;
    text-transform: uppercase;
}
.main-carusel_container .item>* {
    width: auto;
    margin: 5px auto;
}
.main-carusel_container .item input {
    line-height: 18px;
    padding: 8px 10px;
    border: 1px solid #000;
    font-size: 20px;
    box-sizing: border-box;
    width: calc(100% - 4px);
}
.main-carusel_container .item button {
    width: 100%;
}
.clearfix {
    clear: both;
}
h1 {
    color: #000000;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.hidden {
    display: none;
}
.our-product {
    border-top: 6px solid #fdc029;
    margin-top: 1px;
    padding: 40px 0;
}
.our-work_img {
    text-align: center;
}
h3 {
    margin-top: 10px;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.our-work>div {
    margin-bottom: 50px;
}
.our-work_text p {
    line-height: 20px;
    margin-bottom: 20px;
}
.our-work_text .orang-btn {
    display: inline-block;
}
h2 {
    font-size: 35px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.sliders2 {
    position: relative;
}
.our_product-slider h2 {
    margin-bottom: 35px;
}
.arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../images/arrow.png) no-repeat center;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity .2s;
}
.arrow:hover {
    opacity: 1;
}
.guarantees {
    background-color: #2b2a28;
    color: #ffffff;
    padding: 40px 0 20px;
}

.guarantees h2 {
    margin-bottom: 55px;
}

/*    footer     */

.footer {
    background-color: #000;
    padding: 40px 0;
}

.footer-flex {
    width: 100%;
    color: #fff;
    font-size: 16px;
}

.footer-flex a {
    display: block;
    color: #fff;
}

.footer-colon2,
.footer-colon3 {
    font-weight: 400;
    line-height: 22px;
    text-decoration: underline;
}

.footer-colon5 {
    line-height: 22px;
}

.footer-colon4 {
    text-transform: uppercase;
    line-height: 22px;
}

.footer-colon4 a:last-child {
    text-decoration: underline;
}

/* footer end  */

.partners .tab-panel {
    display: none;
}

.partners .tab-panel.active {
    display: block;
}

.partners p {
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
}

.partners-orang {
    background-color: #fdc029;
    padding-top: 35px;
    color: #000;
    text-align: center;
}

.guarantees_img a {
    cursor: zoom-in;
}