
@media only screen and (max-width: 1020px) {
    .header-addres{
        display: none;
    }
    h3{
        font-size: 24px;
        margin-bottom: 15px;
    }
    .footer-colon1{
        display: none;
    }
    .main-carusel .main-carusel_tyTop{
        margin-top: -246px;
    }
}

@media only screen and (max-width: 767px) {
    .main-carusel_form{
        width: 80%;
        margin: 0 5%;
        padding: 15px 5%;
    }
    .main-carusel_tyTop>div>a{
        display: none;
    }
    .main-carusel_container .discrip{
        text-align: center;
        color:  #000000;
        font-size: 16px;
        margin-right: 0;
    }
    .main-carusel_container .item input{
        width: calc(100% - 20px);
    }
    h1{
        margin-bottom: 15px;
        font-size: 21px;
    }
    .main-carusel_form, .main-carusel_form form{
        transform: none;
    }
    .main-carusel .main-carusel_tyTop{
        margin-top: 0;
        position: absolute;
        bottom: 0;
    }
    .tab-content{
        display: none;
    }
    .partners-tab{
        padding: 25px 0 30px;
    }
    .partners-tab li{
        display: block;
    }
    .partners-tab span{
        display: block;
        position: relative;
        text-align: left;
        padding: 15px 45px 15px 8px;
        font-size: 22px;/* Приближение из-за подстановки шрифтов */
        font-weight: 500;
        text-transform: uppercase;
        border-top: 1px solid #000;        
    }
    .partners-tab span:after{
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: 14px;
        background: url(../images/spoilerM.png) no-repeat center;
        transition: all .7s ease-out;
    }
    .partners-tab .active span:after{
        transform: rotate(-180deg);
    }
    .partners-tab .active .hidden{
        display: block;
        background-color: #fff;
        opacity: 1;
    }
    .partners-tab li .hidden{
        border-top: 1px solid #000;
        opacity: 0;
        transition: all .5s;
    }
    .partners-tab li .hidden div{
        line-height: 140px;
        margin: 5px auto;        
    }
    .partners-tab li .hidden img{
        vertical-align: middle;
    }
    .partners-tab li:last-of-type span{
        border-bottom: 1px solid #000;
    }
    .partners-tab li:last-of-type .hidden{
        border-bottom: 1px solid #000;
        border-top: none;
    }
    .footer-flex{
        text-align: center;
    }
    .guarantees_img{
        width: 300px;
        text-align: center;
        margin: 0 auto 20px;
    }
    .guarantees_text{
        padding: 10px;        
    }
    .guarantees_text>div{
        padding-top: 130px;
        background-position: center 10px;
        background-repeat: no-repeat;
        margin-bottom: 50px;
        text-align: center;
        font-size: 26px;/* Приближение из-за подстановки шрифтов */
        font-weight: 300;
        font-style: italic;
    }
   
    .our_product-slider{
        padding: 0 8px;
    }
    .our_product-slider .sliders2{
        max-width: 300px;
        margin: 15px auto;
    }
    .sliders2{
        padding: 10px 40px;
    }
    .arrow{
        top:50%;
        margin-top: -10px;
    }
    .next{
        right:0;
        transform: rotate(90deg);
    }
    .prew{
        left: 0;
        transform: rotate(270deg);
    }
    #mobileMenu{
        display: block;
        min-height: 50px;
        position: relative;        
    }
    #mobileMenu:after{
        content: '';
        position: absolute;
        width: 30px;
        height: 22px;
        top:50%;
        margin-top: -11px;
        right: 22px;
        background: url(../images/menu.png) no-repeat center;
    }
    .header-nav ul, .our-work_img{
        display: none;
    }
    .header-nav{
        padding: 0 8px;
    }
    .our_product-slider h2{
        text-align: left;
    }
    .our-work>div{
        margin-bottom: 35px;
    }
    .footer{
        padding: 15px 10px;
    }
    .footer-colon4{
        margin: 30px 0;
    }
    .footer-colon2, .footer-colon3{
        font-size:15px;
        line-height: 28px;
    }
    .footer-colon4 a:first-child{
        font-size: 21px;
    }
    .our-work_text{
        text-align: left;
        padding: 5px 10px;
    }
    .header-top{
        padding: 10px;
        width: auto;
    }
    .logo{
        max-width: 50%;
    }
    .logo img{
        width: 90%;
    }
    .header-nav ul li{
        text-align: center;
        
        font-size: 18px;
        text-transform: uppercase;
        padding: 10px;
    }
    .header-nav ul li a{
        color:#fff;
    }
    
}

@media only screen and (max-width: 550px) {
    .header-phone a{
        font-size: 18px;
        margin-bottom: 3px;
        text-align: center;
    }
    .header-phone .orang-btn{
        font-size: 13px;
        padding: 4px 4px;
        line-height: 18px;
        transform: scaleX(1.0119);
    }
    .header-phone{
        max-width: 50%;
    }
    .main-carusel_form{
        margin: 0;
        padding: 10px 5%;
        width: 90%;
        
    }
}
@media only screen and (max-width: 400px){
    .main-carusel .main-carusel_tyTop{
        bottom: -10px;
        margin: 0;
    }
}

/* Custom, iPhone Retina */

@media only screen and (min-width: 310px) {
    .main-carusel_carusel .item-inner{
        height: calc(100vw / 1 * 1.2);
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    .our-work_img{
        float: left;
        margin-right: 20px;
    } 
}
@media only screen and (min-width: 600px) {
    
    .main-carusel_carusel .item-inner{
        height: calc(100vw / 2 * 1.23);
    }    
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .main-carusel_container .discrip{
        display: none;
    }
    .main-carusel_container .item{
        width: 25%;
        float: left;
    }
    
    .main-carusel_carusel .item-inner{
        height: calc(100vw / 3 * 1.23);
    }
    .tab-content{
        padding: 45px 0;
    }
    .tab-panel{
        transition: all .4s;
    }
    .tab-panel .partner-img{
        width: 33%;
        line-height: 140px;
        float: left;
        text-align: center;
        vertical-align: middle;
    }
    
    .tab-panel>div img{
        max-height: 100%;
        vertical-align: middle;
    }
    .footer-flex, .partners-tab{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .partners-tab li{
        font-size: 18px;/* Приближение из-за подстановки шрифтов */
        font-weight: 500;
        line-height: 30px;
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
    }
    .partners-tab li span{
        padding: 35px 0;
        display: block;
    }
    .partners-tab li.active{
        font-weight: 300;
    }
    .partners-tab li.active:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(253, 192, 41, 0);
        border-top-color: #fdc029;
        border-width: 23px;
        margin-left: -23px;
    }
    .sliders2{
        padding: 50px 0;
        margin-bottom: 60px;
    }
    .arrow{
        left: 50%;
        margin-left: -10px;
    }
    .prew{
        bottom: 0;
        transform: rotate(180deg);
    }
    
    .next{
        top:0;
    }
    .container{
        width: 730px;
        margin: 0 auto;
    }
    .header-nav ul{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex!important;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-nav li a{
        padding: 10px 0;
        line-height: 30px;
        color:  #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        display: block;
    }
    
    .header-nav li:last-child:after{
        display: none;
    }    

    .our_product-slider{
        float: right;
        width: 300px;        
    }

    .our-work{
        float: left;
        width: calc(100% - 330px);
        padding-right: 30px;
    }
    .guarantees_img{
        width: 280px;
        float: left;
    }
    .guarantees_text{
        float: left;
        width: calc(100% - 320px);
        margin-left: 40px;
    }
    
    .guarantees_text>div{
        padding-left: 150px;
        display: table;
        height: 106px;
        margin-bottom: 40px;        
        background-position: 10px center;
        background-repeat: no-repeat;
    }
    .guarantees_text>div p{
        display: table-cell;
        font-size: 26px;/* Приближение из-за подстановки шрифтов */
        font-weight: 300;
        font-style: italic;
        line-height: 26px;
        vertical-align: middle;
    }
    
    .footer-colon4{
        text-align: right;
        order: 1;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 1021px) {
    .partners-tab li{
        font-size: 22px;
    }
    .header-nav li{
        position: relative;
    }
    
    .header-nav li:after{
        content: '';
        position: absolute;
        right:-10px;
        top: 50%;
        margin-top: -3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fff;
    }
    .container{
        width: 980px;
    }
    .header-nav li a{
        padding: 10px 20px;
    }
    .main-carusel_carusel .item-inner{
        height: calc(100vw / 5 * 1.55);
    }
    
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .main-carusel_carusel .item-inner{
        height: calc(100vw / 5 * 1.22);
    }
    
}